* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  width: 400px;
  aspect-ratio: 1/1.5;
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem; 
}

.display {
  background-color: black;
  color: white;
  grid-area: 1 / 1 / 1 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 3rem;
}

.grid > *:nth-child(2), .grid > *:nth-child(3), .grid > *:nth-child(4) {
  background-color: rgb(204, 199, 199);
}

button {
  background-color: white;
  color: #202020;
  border: 1px solid #727272;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

#equal {
  background-color: #f88867;
  grid-area: 6 / 3 / 6 / 5;
}

/* criar animação de button sendo pressionado */
button:active {
  background-color: #9b9b9b;
  color: white;
}